<div class="row" style="margin-top: 50px">
  <div class="col-xs-8 col-xs-offset-2">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div *ngIf="info" class="alert alert-success">{{ info }}</div>
    <form (ngSubmit)="submit()" #f="ngForm">
      <div class="from-group">
        <label for="username">Username</label>
        <input
          autocomplete="off"
          ngModel
          name="username"
          type="text"
          class="form-control"
          required
        />
      </div>

      <div *ngIf="!loginmode" class="from-group">
        <label for="email">Email</label>
        <input
          autocomplete="off"
          ngModel
          required
          email
          name="email"
          type="email"
          class="form-control"
        />
      </div>
      <div class="from-group">
        <label for="password">password</label>
        <input
          autocomplete="off"
          ngModel
          required
          name="password"
          type="password"
          class="form-control"
        />
        <span *ngIf="!loginmode" style="margin-top: 10px;">
        <input  required ngModel name="terms"  type="checkbox"  ><a  routerLink="/terms" >  I agree to terms and conditions</a> 
      </span>
      </div>
      <div class="form-group" style="margin-top: 10px">
        <button class="btn btn-primary" [disabled]="!f.valid">
          {{ loginmode ? "Login" : "Signup" }}
        </button>
        |
        <button class="btn btn-primary" (click)="togglemode()" type="button">
          Switch to {{ loginmode ? "Signup" : "Login" }}
        </button>
        <br/>
        <a *ngIf="loginmode" [routerLink]="'/forgot_pswd'">Forgot your password?</a>
      </div>
    </form>
  </div>
</div>
