<div class="editpopup" *ngIf="editId >= 0">
  <div class="form-group">
    <form (ngSubmit)="saveModifiedTodo()" #editForm="ngForm">
      <div style="border: 1px solid green; background-color: blue">
        <h3 style="display: inline; color: white">Edit</h3>
      </div>
      <input
        [(ngModel)]="todoUnderEdit"
        name="todounderedit"
        [value]="todoUnderEdit"
        id="editor"
        class="form-control"
        type="text"
      />
      <button class="btn btn-primary">Save</button>
      <button (click)="cancelEdit()" type="button" class="btn btn-danger">
        Cancel
      </button>
      <button (click)="markAsComplete()" type="button" class="btn btn-success">
        Mark as completed
      </button>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div style="text-align: center" class="col-xs-12"><h1>TODO'S</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="row">
          <div class="col-xs-10">
            <input
              type="text"
              [(ngModel)]="newtodo"
              name="newtodo"
              #newtodotxt="ngModel"
              required
              class="form-control"
              autocomplete="off"
            />
          </div>
          <div class="col-xs-2" style="text-align: left">
            <button [disabled]="!newtodotxt.valid" class="btn btn-primary">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          appBasicHighlight
          class="list-group-item clearfix"
          style="overflow-wrap: anywhere"
          *ngFor="let todo of todoservice.todos | filter: search; let i = index"
          [ngClass]="{ completed: true }"
        >
          {{ todo.task }}

          <span
            (click)="activateEdit(i)"
            style="cursor: pointer"
            class="fa fa-pencil pull-right"
            ><span
              (click)="removethistodo(i)"
              style="
                color: red;
                cursor: pointer;
                width: 40px;
                text-align: center;
              "
              class="pull-right"
              >X</span
            >
          </span>
        </li>
      </ul>
    </div>
  </div>
  <!-- <pagination-controls
    id="server"
    (pageChange)="p = $event"
  ></pagination-controls> -->
  <div
    class="row"
    style="display: flex; position: fixed; bottom: 30px; align-items: center"
  >
    <div class="col-xs-3"><label for="search">search</label></div>
    <div class="col-xs-7">
      <input
        type="text"
        id="search"
        name="search"
        [(ngModel)]="search"
        class="form-control"
      />
    </div>
    <div class="col-xs-2">{{ todoservice.todos.length }}Items</div>
  </div>
</div>
