<div class="row" style="margin-top: 50px">
    <div class="col-xs-8 col-xs-offset-2">
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <div *ngIf="info" class="alert alert-success">{{ info }}</div>
      <form (ngSubmit)="submit()" #f="ngForm">
        <div class="from-group">
          <label for="username">Username</label>
          <input
            autocomplete="off"
            ngModel
            name="username"
            type="text"
            class="form-control"
            required
          />
        </div>
        <div class="from-group">
          <label for="email">Email</label>
          <input
            autocomplete="off"
            ngModel
            required
            email
            name="email"
            type="email"
            class="form-control"
          />
        </div>
        <div class="form-group" style="margin-top: 10px">
          <button class="btn btn-primary" [disabled]="!f.valid"
          
          >
            Proceed
          </button> |
          <button type="button" class="btn btn-primary" (click)="clearform()">
            Clear
          </button>
            
            
         
          
         
         
        </div>
        <a style="margin-top: 5px;"  [routerLink]="'/'">Back to Login...</a>
      </form>
    </div>
  </div>
  